<div class="container">
  <div id="products" class="row list-group">
    <div class="item list-group-item col-xs-4 col-lg-4" *ngFor="let clarification of clarifications | async">
      <div class="thumbnail">
        <img class="group list-group-image" src="http://placehold.it/150x150/000/fff" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">{{ clarification.title }}</h4>
          <p class="group inner list-group-item-text">{{ clarification.description }}</p>
          <p><small>{{ clarification.date }}</small></p>
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <p class="lead">{{ clarification.amount | currency }}</p>
            </div>
            <div class="col-xs-6 col-md-6">
              <button type="button" class="btn btn-success">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
